{{#if isLoged}}
<h1>Perfil de usuario</h1>
{{else}}
<h1>Usuario creado con éxito</h1>
{{/if}}

<p>NOMBRE: {{first_name}}</p>
<p>APELLIDO: {{last_name}}</p>
<p>EDAD: {{age}}</p>
<p>EMAIL: {{email}}</p>

<a href="/">Ir a Login</a>